.imagen {
    position: fixed; /* Cambia a fixed para que no se mueva con el scroll */
    top: 66%;
    left: 160px; /* Posiciona la imagen a la izquierda */
    width: 190px;
    height: 165px;
    transform: translateY(-50%);
    z-index: 1; /* Asegura que la imagen esté por encima del fondo */
    transition: transform 3s ease-in-out;
  }
  .imagen.animate {
    transform: translateY(-50%) translateX(1400px); /* Ajusta este valor según sea necesario */
  }
  